# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @arndt-s @sorindumitru @strideynet @azdagron @v0lkan @mrsabath @evan2645 @MarcosDY @amartinezfayo @rturner3 @kfox1111 
